 #p2 {
                text-align: center;
                color:black;
            }
            body {
                background-image:url("1823465fc3686779d746e1298513dcaa.jpg");
                background-size:cover;
                background-size:50% 100% ;
                background-repeat: no-repeat;
                background-position: center;
                font-family:Arial, Helvetica, sans-serif;
                background-size: 100%;
     } 